.workItem{
    width: 46%; margin-bottom: 2rem;
}
.workImg{
    margin-bottom: 1.5rem;
}
.workTitle{
    margin-bottom: 1.5rem;
}
.workLabel{

}

@media all and (max-width:600px) {
    .workItem{
        width: 100%;
    }
}